<a
[routerLink]="['/artist/' + id]"
  class="w-52 h-72 flex flex-col m-4 cursor-pointer border-2 bg-gray-200 hover:bg-gray-400"
>
  <img src={{image}} class="w-full h-2/4" />
  <div class="w-full p-2 flex flex-col justify-between gap-2 items-start h-2/4">
    <div class="w-full">
      <div class="font-semibold text-xl">{{ name }}</div>
      <div>
        <mat-icon *ngFor="let star of starsRating">star</mat-icon>
        <mat-icon *ngIf="!isInteger(rating)">star_half</mat-icon>
      </div>
      <div class="text-sm text-gray-600">{{ followers }} followers</div>
    </div>
    <div></div>
  </div>
</a>
