<div class="w-full p-8 flex flex-col items-start">
    <div *ngIf="artistAlbums?.length > 0" class="w-full flex flex-col items-start">
      <div class="text-xl font-semibold">{{artistAlbums[0]?.artists[0]?.name}}</div>
      <div class="text-lg text-gray-400 font-semibold">Albums</div>
    </div>
    <div class="w-full flex flex-row flex-wrap items-center justify-center py-8">
      <div *ngFor="let album of artistAlbums">
        <app-album-card
        [album_title]="album?.name"
        [release_year]="album?.release_date"
        [link]="album?.external_urls?.spotify"
        [number_of_tracks]="album?.total_tracks"
        [image]="album?.images[0]?.url"
        >

        </app-album-card>
      </div>
    </div>
  </div>